{
  "env": {
    "node": true,
    "es2020": true,
    "jest/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier", "jest"],
  "root": true,
  "rules": {
    "prettier/prettier": "error",
    "complexity": ["error", 7]
  }
}
